@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaylight';
  src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
  url('../fonts/raleway-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
  url('../fonts/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('../fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayextrabold';
  src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.main_width{
  margin: 0 auto;
  width: 1700px;
}

/* #######  HEADER  ####### */

header{
  width: 100%;
  background-color: black;

  color: white;
  font-size: 22px;
  font-family: 'ralewaybold', Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;

  padding: 20px;

}

.main_container{
  display: flex;
  justify-content: space-between;
}
.logo_container a{
  color:white;
}

.nav_container{
  width: 570px;
  display: flex;
  justify-content: space-between;
}
.main_nav{
  display: flex;
  justify-content: space-between;
}

.main_nav li {
  width: 190px;
  text-align: left;
}

.main_nav a{
  display: flex;
  position: relative;
  padding-left: 20px;
}

.main_nav a:hover{
  color: #24BA9F;
}


.main_nav a{
  color:white;
}
/*span dla logo i dla napisu w głównej sekcji*/
span{
  color: #24BA9F;
}

  /* ******** SUBMENU ********** */
/*NIE DA SIĘ TEXTU W PODLINKACH PRZESUNĄC NA LEWY BOK */
.sub_nav{
  background-color: black;
  position: absolute;
  top: 80px;
  display: none;
}

.sub_nav li{
  width: 170px;
  padding: 15px 15px 20px 20px;
}
.sub_nav li:first-child{
  padding-top: 25px;
  position: relative;
}

.sub_nav a{
  font-family: 'ralewayregular', Arial, Tahoma, sans-serif;
  text-transform: capitalize;
  font-weight: lighter;
  text-align: left;
  letter-spacing: normal;
  padding: 0;
}


.sub_nav:before{
  content: "";
  width: 15px;
  height: 15px;
  background-color: black;

  display: block;
  transform: rotate(45deg);
  position: absolute;
  left: calc(40%);
  top: calc(-7px);
}

.main_nav li:first-child:hover .sub_nav{
  display: block;
  -webkit-box-shadow: 7px 6px 0px -2px rgba(36,186,160,1);
  -moz-box-shadow: 7px 6px 0px -2px rgba(36,186,160,1);
  box-shadow: 7px 6px 0px -2px rgba(36,186,160,1);
  transition: 0s 4s;
}

 /* ######### SECTION SLIDER ######### */
section{
  width: 100%;
  background: linear-gradient(to bottom, rgba(229,229,229,1) 73%,rgba(201,201,201,1) 99%);

}

.slider{
  height: 550px;
 /*border: 3px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.slider_photo{
  width: 700px;
  height: 450px;
  background-image: url("images/black_chair.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: center;


  /* border: 2px dashed gold;*/


}
.slider_article{
  width: 700px;
  height: 450px;
 /* border: 2px dashed purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 150px;

}
.article_text{
  text-align: center;
  font-family: 'ralewayregular', Arial, Tahoma, sans-serif;

}
.article_text .text_title{
  font-size: 45px;
}
.article_text .text_content{
  line-height: 25px;
  padding: 40px 30px 40px 30px;
}
.green_button{
  color: white;
  font-size: 20px;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;

  text-decoration: none;
  background-color: #24BA9F;
  padding: 15px 50px 15px 50px;
  border: 1px solid #24BA9F;
  border-radius: 10px;

}
.green_button:hover, .next:hover{
  cursor: pointer;
}
.next{
  font-size: 90px;
  color: #24BA9F;
}